Options +FollowSymLinks -MultiViews
RewriteEngine On
RewriteBase /

# Redirect pages without language prefix to /de/
RewriteCond %{REQUEST_URI} ^/(marcel|produkte|unternehmen|tutorials|blog|agb|datenschutz|impressum)(\.html)?$ [NC]
RewriteRule ^(.+?)(\.html)?$ /de/$1 [R=302,L]

# Force redirect if someone directly requests index.html
RewriteCond %{REQUEST_URI} ^/(.*/)?index\.html$ [NC]
RewriteRule ^(.*/)?index\.html$ /%1 [R=301,L]

# Redirect any URL ending with .html
RewriteCond %{REQUEST_URI} ^(.+)\.html$ [NC]
RewriteRule ^(.+)\.html$ /$1 [R=301,L]

# Internally add .html if file exists
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.+?)/?$ $1.html [L]

DirectoryIndex index.html
